<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Projects</title>
  <meta name="description" content="A collection of projects done by Ian Maloney with descriptions.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Robert Ian Maloney">
  <!-- favicons -->
  <%- include("./include/favicon"); -%>  
  <!-- jquery -->
  <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">    
  </script>
  <!-- icons -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap" rel="stylesheet">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- custom style sheet -->
  <link rel="stylesheet" href="/css/global.min.css">
  <link rel="stylesheet" href="/css/projects.min.css">
</head>
<body>
    <%- include("./include/navbar"); -%>
    <main>
     <div class='content-div'>
      <div class='small-banner'></div>
      <div class='center'>
        <h1 class='header'>Projects</h1>     
      </div>
<!-- are made public when they are almost complete (excluding ecommerce sites) -->
        <div class="add-margins">
          <p class='disclaimer center'>A running list of projects I am working on and have worked on both for fun and for school. Fun projects will be made public. School projects are not made public. If you are interested in seeing the source code for school projects, you must request access using the <a href='/contact' style="color: black;">Contact Me</a> page by specifying who you are and which project you would like to see.</p>
        </div>
        
        <div class="projects-div">      
          <h1 class='title'>For Fun</h1>  
            <!-- bootstrap --> 
            <ul class='projects-list'>
              <% for (let i=0; i < home.length; i++) {%>
              <li>
                <div class='space'>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= home[i].name %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= home[i].stack %></h6>
                      <p class="card-text new-size"><%= home[i].description %></p>
                      <% if (home[i].link) { %>
                      <a href="<%= home[i].link %>" class="card-link"><%= home[i].linkLoc %></a>
                      <% } else { %>
                        <p class="card-text" style="color: #007bff;">Coming Soon!</p>
                      <% } %>
                      <% if (home[i].linkTwo) { %>
                      <a href="<%= home[i].linkTwo %>" class="card-link"><%= home[i].linkLocTwo %></a>
                      <% } %>
                    </div>
                  </div>              
                </div>
              </li> 
              <% } %>              
            </ul>  
        </div>

        <div class="projects-div">
          <h1 class='title'>School</h1>
          <ul class='projects-list'>
            <% for (let i=0; i < school.length; i++) { %>
            <li>
              <div class='space'>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><%= school[i].name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= school[i].stack %></h6>
                    <p class="card-text new-size"><%= school[i].description %></p>
                    <a href="/contact" class="card-link">Request Access</a>
                  </div>
                </div>
              </div>
            </li>
            <% } %>                                  
          </ul>
        </div>



     </div>    
  </main>
  <script src="/js/navbar.min.js"></script>        
</main>    
</body>
</html>